@import "tailwindcss";


@layer utilities {
  @keyframes slide-up {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(-50%);
      opacity: 0;
    }
  }

  .scroll-animate {
    animation: slide-up linear both;
    animation-timeline: view();
    animation-range: cover 0% 100%;
  }
}
